.popup-menu {
    position: relative;
}

.popup-menu .menu>ul {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

.popup-menu .menu.top-left>ul {
    bottom: calc(100% + 12px);
    left: 0;
}

.popup-menu .menu.top-right>ul {
    bottom: calc(100% + 12px);
    right: 0;
}

.popup-menu .menu.bottom-left>ul {
    top: calc(100% + 12px);
    left: 0;
}

.popup-menu .menu.bottom-right>ul {
    top: calc(100% + 12px);
    right: 0;
}

.popup-menu .menu.left-top>ul {
    right: calc(100% + 12px);
    top: 0;
}

.popup-menu .menu.left-bottom>ul {
    left: calc(100% + 12px);
    bottom: 0;
}

.popup-menu .menu.right-top>ul {
    left: calc(100% + 12px);
    top: 0;
}

.popup-menu .menu.right-bottom>ul {
    left: calc(100% + 12px);
    bottom: 0;
}

.popup-menu .menu>ul>li {
    min-width: 54px;
    padding: 9px 24px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: #232323;
    font-size: 14px;
    border-radius: 2px;
    transition: all 150ms;
}

.popup-menu .menu>ul>li:hover {
    background: #2CA7F8;
    color: #FAFAFA;
}

.menu-transition-enter {
    opacity: 0.01;
}

.menu-transition-enter-active {
    opacity: 1;
    transition: all 300ms;
}

.menu-transition-exit {
    opacity: 1;
}

.menu-transition-exit-active {
    opacity: 0.01;
    transition: all 300ms;
}